
<div id="divSideNav" style="font-size: 20px; font-family: 'Times New Roman'; width: 150px;" [ngClass]="[showMenu ? 'NavStyleExpanded' : 'NavStyleNotExpanded']">
  <img src="../assets/images/AIClogo137.png" style="height: 50px; width: 120px; padding: 4px;" />
  <div style="padding-left: 10px; padding-top: 20px;">
    <a href="EscrowList/open">Home</a><br>
    <a (click)="ToggleClosingNav()" class="FakeHyper">Closings&nbsp;
        <i id="iCPlaceholder" [ngClass]="[showClosingMenu ? 'fa fa-minus' : 'fa fa-plus']"></i>
    </a><br />
    <a href="EscrowNew" [ngClass]="[showClosingMenu ? 'CExpanded' : 'CNotExpanded']">&nbsp;&nbsp;New</a>
    <a href="EscrowList/open" [ngClass]="[showClosingMenu ? 'CExpanded' : 'CNotExpanded']">&nbsp;&nbsp;Open (Your)</a>
    <a href="EscrowList/closed" [ngClass]="[showClosingMenu ? 'CExpanded' : 'CNotExpanded']">&nbsp;&nbsp;Closed (Your)</a>
    <a href="EscrowList/all" [ngClass]="[showClosingMenu ? 'CExpanded' : 'CNotExpanded']">&nbsp;&nbsp;All (Your)</a>
    <a href="EscrowList/search" [ngClass]="[showClosingMenu ? 'CExpanded' : 'CNotExpanded']">&nbsp;&nbsp;Search</a>
    <a href="#" *ngIf="isSignedIn()" (click)="signOutUser()">Logout</a><br>
    <a href="#">Do Nothing</a><br>
  </div>
</div>
<div id="divRight" [ngClass]="[showMenu ? 'RightNotExpand' : 'RightExpand']">
  <button id="btnNavToggle" class="btnNavToggle" (click)="ToggleNav()" matTooltip="{{ appTooltip }}" matTooltipPosition="right">{{ btnVal }}</button>
  <div><router-outlet></router-outlet></div>
  <div id="divFooter" style="bottom: 0; position: fixed; padding: 4px;">Copyright &copy; 2017 - {{ theYear }} AIC Title Service</div>
</div>
