<p></p>
<div>
    <mat-toolbar style="height: 35px; background-color: transparent; font-size: 14px;">
        <span style="padding-right: 10px; ">Escrow Order ID: {{ escrowOrderID }}</span>
        <button mat-button [matMenuTriggerFor]="menu" style="background-color: transparent;">Options</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCreateDemoOrder(true, true, 'fullscreen-dialog', '50', '50');">Create Demo Order</button>
            <button mat-menu-item (click)="openCreateLinkedOrder(true, true, 'fullscreen-dialog', '90', '90');">Create Linked Order</button>
            <!--<button mat-menu-item (click)="openSearchAddToClosing();">Search/Add Item(s) To Closing</button>
            <button mat-menu-item (click)="openUpdateClosingDescription();">Update Closing Description</button>
            <button mat-menu-item (click)="openSendEmailEscrowDetail();">Send Email</button>
            <button mat-menu-item (click)="openTitleSearch();">Title Search</button>
            <button mat-menu-item (click)="openTSAR();">TSAR</button>
            <span>------ Admin Tools ------</span>
            <button mat-menu-item (click)="openViewLatestFXAgreement();">View Latest FX Agreement</button>-->
        </mat-menu>
        
        <!--<button mat-button (click)="openAddParticipant();">Add Participant</button>
        <button mat-button (click)="openWireInformation();">Wire Information</button>
        <button mat-button (click)="openFunds();">Funds</button>
        <button mat-button (click)="openLinkedOrders();" *ngIf="escrowDetails.hasLinkedOrder">Linked Orders</button>
        <button mat-button (click)="openNewDigitalSignature();">New Digital Signature</button>-->
    </mat-toolbar>
</div>
